In [2]:
%matplotlib inline
import pandas
import sklearn
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from torch.utils.data import Dataset
from IPython.display import display
from collections import defaultdict
from sklearn.metrics import accuracy_score

In [53]:
data_df = pd.read_csv('clean-phone-data-for-students.csv')

In [54]:
display(data_df.head())
data_df.describe()

                                  Sentence Utterance   Action        Object
0   <PHONE_NUMBER_REMOVED> ผมไปจ่ายเงินที่ Counte...  enquire       payment
1               internet ยังความเร็วอยุ่เท่าไหร ครับ  enquire       package
2   ตะกี้ไปชำระค่าบริการไปแล้ว แต่ยังใช้งานไม่ได้...   report       suspend
3   พี่ค่ะยังใช้ internet ไม่ได้เลยค่ะ เป็นเครื่อ...  enquire      internet
4   ฮาโหล คะ พอดีว่าเมื่อวานเปิดซิมทรูมูฟ แต่มันโ...   report  phone_issues

       Sentence Utterance   Action   Object
count               16175    16175    16175
unique              13389       10       33
top           บริการอื่นๆ  enquire  service
freq                   97    10377     2525

In [55]:
data_df = data_df[["Sentence Utterance", "Object"]]
data_df.columns = ['input', 'raw_label']
display(data_df.describe())
display(data_df.raw_label.unique())

              input raw_label
count         16175     16175
unique        13389        33
top     บริการอื่นๆ   service
freq             97      2525

array(['payment', 'package', 'suspend', 'internet', 'phone_issues',
       'service', 'nonTrueMove', 'balance', 'detail', 'bill', 'credit',
       'promotion', 'mobile_setting', 'iservice', 'roaming', 'truemoney',
       'information', 'lost_stolen', 'balance_minutes', 'idd',
       'TrueMoney', 'garbage', 'Payment', 'IDD', 'ringtone', 'Idd',
       'rate', 'loyalty_card', 'contact', 'officer', 'Balance', 'Service',
       'Loyalty_card'], dtype=object)

In [56]:
data_df['clean_label']=data_df['raw_label'].str.lower().copy()
data_df.drop('raw_label', axis=1, inplace=True)
display(data_df.describe())
display(data_df.clean_label.unique())

              input clean_label
count         16175       16175
unique        13389          26
top     บริการอื่นๆ     service
freq             97        2528

array(['payment', 'package', 'suspend', 'internet', 'phone_issues',
       'service', 'nontruemove', 'balance', 'detail', 'bill', 'credit',
       'promotion', 'mobile_setting', 'iservice', 'roaming', 'truemoney',
       'information', 'lost_stolen', 'balance_minutes', 'idd', 'garbage',
       'ringtone', 'rate', 'loyalty_card', 'contact', 'officer'],
      dtype=object)

In [57]:
data_df = data_df.drop_duplicates("input", keep="first")
data_df = data_df.reset_index(drop=True)
display(data_df.describe())

                                                    input clean_label
count                                               13389       13389
unique                                              13389          26
top      <PHONE_NUMBER_REMOVED> ผมไปจ่ายเงินที่ Counte...     service
freq                                                    1        2111

# Model 1 TF-IDF

Build a model to train a tf-idf text classifier. Use a simple logistic regression model for the classifier.

For this part, you may find this [tutorial](https://scikit-learn.org/stable/auto_examples/text/plot_document_classification_20newsgroups.html#sphx-glr-auto-examples-text-plot-document-classification-20newsgroups-py) helpful.

Below are some design choices you need to consider to accomplish this task. Be sure to answer them when you submit your model.

What tokenizer will you use? Why?

**Ans:**

Will you ignore some stop words (a, an, the, to, etc. for English) in your tf-idf? Is it important?
PythaiNLP provides a list of stopwords if you want to use (https://pythainlp.org/docs/2.0/api/corpus.html#pythainlp.corpus.common.thai_stopwords)

**Ans:**

The dictionary of TF-IDF is usually based on the training data. How many words in the test set are OOVs?

**Ans:**

In [64]:
import deepcut
import attacut
import time
from tqdm import tqdm
import pythainlp

In [37]:
# 19 secs for 100 samples
# 13389 samples = 42 mins; ain't nobody got time for that
start_time = time.time()
for i in range(100):
    # print(f"original: {data_df['input'][i]}")
    # print(deepcut.tokenize(data_df['input'][i]))
    deepcut.tokenize(data_df['input'][i])
end_time = time.time()

print(f"Total time: {end_time - start_time}")

4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 51ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 77ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 77ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 51ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 53ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 50ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 73ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 42ms/step
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 42ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 158ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 77ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 49ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 64ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 49ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 56ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 47ms/step
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 42ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 50ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 50ms/step
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 87ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 75ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 45ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 98ms/step
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 65ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 53ms/step
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 52ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 54ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 51ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 90ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 56ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 56ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 52ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 56ms/step
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 42ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 52ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 60ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 52ms/step
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 78ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 49ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 58ms/step
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
Total time: 19.03559398651123

In [ ]:
# 2.25 secs for 100 samples
# 13389 samples = 5 mins; now we're talking
start_time = time.time()
for i in range(100):
    attacut.tokenize(data_df['input'][0])
end_time = time.time()

print(f"Total time: {end_time - start_time}")

Total time: 2.259876012802124

In [69]:
data = data_df.copy().to_numpy()

unique_label = data_df.clean_label.unique()

label_2_num_map = dict(zip(unique_label, range(len(unique_label))))
num_2_label_map = dict(zip(range(len(unique_label)), unique_label))

print("Create Mappings")
display(num_2_label_map)
display(label_2_num_map)

# print("Before Mappings")
# display(data[:, 1])
data[:,1] = np.vectorize(label_2_num_map.get)(data[:,1])
# print("After Mappings")
# display(data[:, 1])

Create Mappings

{0: 'payment',
 1: 'package',
 2: 'suspend',
 3: 'internet',
 4: 'phone_issues',
 5: 'service',
 6: 'nontruemove',
 7: 'balance',
 8: 'detail',
 9: 'bill',
 10: 'credit',
 11: 'promotion',
 12: 'mobile_setting',
 13: 'iservice',
 14: 'roaming',
 15: 'truemoney',
 16: 'information',
 17: 'lost_stolen',
 18: 'balance_minutes',
 19: 'idd',
 20: 'garbage',
 21: 'ringtone',
 22: 'rate',
 23: 'loyalty_card',
 24: 'contact',
 25: 'officer'}

{'payment': 0,
 'package': 1,
 'suspend': 2,
 'internet': 3,
 'phone_issues': 4,
 'service': 5,
 'nontruemove': 6,
 'balance': 7,
 'detail': 8,
 'bill': 9,
 'credit': 10,
 'promotion': 11,
 'mobile_setting': 12,
 'iservice': 13,
 'roaming': 14,
 'truemoney': 15,
 'information': 16,
 'lost_stolen': 17,
 'balance_minutes': 18,
 'idd': 19,
 'garbage': 20,
 'ringtone': 21,
 'rate': 22,
 'loyalty_card': 23,
 'contact': 24,
 'officer': 25}

In [70]:
def strip_str(string):
    return string.strip()
     
# print("Before")
# print(data)
data[:,0] = np.vectorize(strip_str)(data[:,0])
# print("After")
# print(data)

In [71]:
data

array([['<PHONE_NUMBER_REMOVED> ผมไปจ่ายเงินที่ Counter Services เค้าเช็ต 3276.25 บาท เมื่อวานที่ผมเช็คที่ศูนย์บอกมียอด 3057.79 บาท',
        0],
       ['internet ยังความเร็วอยุ่เท่าไหร ครับ', 1],
       ['ตะกี้ไปชำระค่าบริการไปแล้ว แต่ยังใช้งานไม่ได้ ค่ะ', 2],
       ...,
       ['ยอดเงินเหลือเท่าไหร่ค่ะ', 7],
       ['ยอดเงินในระบบ', 7],
       ['สอบถามโปรโมชั่นปัจจุบันที่ใช้อยู่ค่ะ', 1]], dtype=object)

In [72]:
vocab = defaultdict(lambda: len(vocab))
for i in tqdm(range(len(data))):
    tokens = attacut.tokenize(data[i][0])
    for token in tokens:
        vocab[token]
    
    data[i][0] = tokens
# 5447 unique tokens
print(len(vocab))

100%|██████████| 13389/13389 [04:25<00:00, 50.42it/s]

5447

In [ ]:
num_docs_with_w = defaultdict(int)
for i in tqdm(range(len(data))):
    unique_tokens = set(data[i][0])
    # should we remove any tokens?
    
    for token in unique_tokens:
        num_docs_with_w[vocab[token]] += 1
# sort token idx
num_docs_with_w = dict(sorted(num_docs_with_w.items(), key=lambda x: x[0]))

idf = np.log(len(data) / np.array(list(num_docs_with_w.values())))

100%|██████████| 13389/13389 [00:00<00:00, 126871.55it/s]

In [90]:
num_docs_with_w

{0: 428,
 1: 392,
 2: 420,
 3: 8674,
 4: 1991,
 5: 1976,
 6: 499,
 7: 1352,
 8: 2036,
 9: 1,
 10: 3,
 11: 1,
 12: 1,
 13: 125,
 14: 12,
 15: 428,
 16: 486,
 17: 149,
 18: 537,
 19: 51,
 20: 273,
 21: 1592,
 22: 1066,
 23: 1,
 24: 8,
 25: 149,
 26: 1451,
 27: 83,
 28: 49,
 29: 6,
 30: 469,
 31: 16,
 32: 3771,
 33: 11,
 34: 981,
 35: 1657,
 36: 1619,
 37: 2064,
 38: 885,
 39: 2961,
 40: 1031,
 41: 3290,
 42: 3428,
 43: 4395,
 44: 911,
 45: 870,
 46: 1043,
 47: 455,
 48: 2,
 49: 33,
 50: 33,
 51: 1205,
 52: 158,
 53: 181,
 54: 2375,
 55: 1206,
 56: 550,
 57: 548,
 58: 1570,
 59: 1397,
 60: 404,
 61: 474,
 62: 30,
 63: 30,
 64: 1,
 65: 598,
 66: 1172,
 67: 92,
 68: 1021,
 69: 1273,
 70: 1031,
 71: 109,
 72: 12,
 73: 1716,
 74: 15,
 75: 123,
 76: 913,
 77: 385,
 78: 400,
 79: 894,
 80: 270,
 81: 1,
 82: 902,
 83: 203,
 84: 4772,
 85: 340,
 86: 137,
 87: 493,
 88: 1201,
 89: 81,
 90: 417,
 91: 15,
 92: 284,
 93: 299,
 94: 26,
 95: 239,
 96: 1626,
 97: 2038,
 98: 16,
 99: 31,
 100: 3,
 101: 498,
 102: 5,
 103: 34,
 104: 1383,
 105: 718,
 106: 212,
 107: 1028,
 108: 472,
 109: 764,
 110: 44,
 111: 327,
 112: 122,
 113: 930,
 114: 341,
 115: 486,
 116: 49,
 117: 34,
 118: 644,
 119: 64,
 120: 121,
 121: 341,
 122: 766,
 123: 326,
 124: 73,
 125: 182,
 126: 189,
 127: 1,
 128: 218,
 129: 23,
 130: 505,
 131: 284,
 132: 209,
 133: 242,
 134: 836,
 135: 2056,
 136: 929,
 137: 1004,
 138: 128,
 139: 78,
 140: 19,
 141: 74,
 142: 406,
 143: 44,
 144: 209,
 145: 68,
 146: 256,
 147: 42,
 148: 305,
 149: 296,
 150: 44,
 151: 46,
 152: 701,
 153: 5,
 154: 39,
 155: 161,
 156: 40,
 157: 376,
 158: 169,
 159: 1,
 160: 3174,
 161: 1,
 162: 705,
 163: 217,
 164: 4,
 165: 640,
 166: 240,
 167: 25,
 168: 769,
 169: 231,
 170: 4,
 171: 1270,
 172: 32,
 173: 1,
 174: 2,
 175: 1,
 176: 97,
 177: 185,
 178: 85,
 179: 22,
 180: 152,
 181: 25,
 182: 20,
 183: 391,
 184: 723,
 185: 9,
 186: 640,
 187: 94,
 188: 28,
 189: 372,
 190: 45,
 191: 111,
 192: 149,
 193: 17,
 194: 231,
 195: 165,
 196: 224,
 197: 50,
 198: 13,
 199: 1,
 200: 61,
 201: 33,
 202: 24,
 203: 53,
 204: 277,
 205: 64,
 206: 1,
 207: 13,
 208: 136,
 209: 243,
 210: 400,
 211: 19,
 212: 15,
 213: 1,
 214: 26,
 215: 15,
 216: 189,
 217: 67,
 218: 1030,
 219: 487,
 220: 90,
 221: 41,
 222: 20,
 223: 177,
 224: 778,
 225: 106,
 226: 190,
 227: 329,
 228: 28,
 229: 134,
 230: 4,
 231: 437,
 232: 64,
 233: 7,
 234: 141,
 235: 11,
 236: 466,
 237: 50,
 238: 62,
 239: 29,
 240: 8,
 241: 4,
 242: 10,
 243: 185,
 244: 86,
 245: 200,
 246: 11,
 247: 24,
 248: 22,
 249: 526,
 250: 83,
 251: 215,
 252: 2,
 253: 2,
 254: 2,
 255: 25,
 256: 27,
 257: 6,
 258: 8,
 259: 1,
 260: 11,
 261: 1,
 262: 49,
 263: 14,
 264: 1,
 265: 1,
 266: 1,
 267: 2,
 268: 11,
 269: 37,
 270: 3,
 271: 8,
 272: 1,
 273: 671,
 274: 14,
 275: 59,
 276: 1,
 277: 197,
 278: 297,
 279: 3,
 280: 1,
 281: 16,
 282: 12,
 283: 74,
 284: 1,
 285: 8,
 286: 33,
 287: 40,
 288: 17,
 289: 45,
 290: 23,
 291: 151,
 292: 71,
 293: 10,
 294: 23,
 295: 54,
 296: 3,
 297: 19,
 298: 23,
 299: 115,
 300: 10,
 301: 2,
 302: 2,
 303: 15,
 304: 186,
 305: 85,
 306: 4,
 307: 17,
 308: 128,
 309: 74,
 310: 12,
 311: 2,
 312: 11,
 313: 422,
 314: 28,
 315: 1,
 316: 31,
 317: 115,
 318: 100,
 319: 58,
 320: 259,
 321: 2,
 322: 303,
 323: 138,
 324: 1,
 325: 39,
 326: 340,
 327: 1,
 328: 6,
 329: 3,
 330: 22,
 331: 20,
 332: 1,
 333: 95,
 334: 50,
 335: 4,
 336: 2,
 337: 1,
 338: 4,
 339: 1,
 340: 1,
 341: 45,
 342: 1,
 343: 36,
 344: 135,
 345: 35,
 346: 121,
 347: 7,
 348: 23,
 349: 355,
 350: 1,
 351: 339,
 352: 432,
 353: 821,
 354: 37,
 355: 150,
 356: 1,
 357: 2,
 358: 69,
 359: 8,
 360: 13,
 361: 26,
 362: 133,
 363: 290,
 364: 33,
 365: 1,
 366: 1,
 367: 219,
 368: 27,
 369: 4,
 370: 1,
 371: 2,
 372: 10,
 373: 5,
 374: 14,
 375: 319,
 376: 76,
 377: 56,
 378: 1,
 379: 50,
 380: 2,
 381: 80,
 382: 475,
 383: 300,
 384: 18,
 385: 4,
 386: 20,
 387: 1,
 388: 78,
 389: 31,
 390: 142,
 391: 327,
 392: 91,
 393: 22,
 394: 22,
 395: 89,
 396: 99,
 397: 108,
 398: 50,
 399: 192,
 400: 4,
 401: 45,
 402: 1,
 403: 109,
 404: 1,
 405: 73,
 406: 11,
 407: 3,
 408: 1,
 409: 41,
 410: 1,
 411: 44,
 412: 19,
 413: 9,
 414: 9,
 415: 1,
 416: 72,
 417: 14,
 418: 63,
 419: 10,
 420: 19,
 421: 193,
 422: 24,
 423: 48,
 424: 8,
 425: 1,
 426: 115,
 427: 2,
 428: 10,
 429: 2,
 430: 2,
 431: 1,
 432: 47,
 433: 24,
 434: 1,
 435: 90,
 436: 4,
 437: 2,
 438: 152,
 439: 1,
 440: 8,
 441: 13,
 442: 1,
 443: 1,
 444: 3,
 445: 4,
 446: 7,
 447: 52,
 448: 1,
 449: 4,
 450: 23,
 451: 1,
 452: 103,
 453: 12,
 454: 3,
 455: 17,
 456: 4,
 457: 1,
 458: 97,
 459: 4,
 460: 16,
 461: 9,
 462: 6,
 463: 51,
 464: 31,
 465: 5,
 466: 107,
 467: 1,
 468: 2,
 469: 4,
 470: 4,
 471: 1,
 472: 31,
 473: 32,
 474: 24,
 475: 116,
 476: 59,
 477: 159,
 478: 29,
 479: 48,
 480: 217,
 481: 25,
 482: 9,
 483: 99,
 484: 5,
 485: 8,
 486: 121,
 487: 11,
 488: 1,
 489: 21,
 490: 872,
 491: 15,
 492: 138,
 493: 17,
 494: 4,
 495: 190,
 496: 15,
 497: 31,
 498: 20,
 499: 226,
 500: 24,
 501: 21,
 502: 1,
 503: 6,
 504: 10,
 505: 2,
 506: 2,
 507: 21,
 508: 1,
 509: 20,
 510: 16,
 511: 7,
 512: 2,
 513: 23,
 514: 6,
 515: 18,
 516: 60,
 517: 12,
 518: 2,
 519: 23,
 520: 1,
 521: 1,
 522: 6,
 523: 52,
 524: 1,
 525: 2,
 526: 1,
 527: 2,
 528: 1,
 529: 53,
 530: 30,
 531: 256,
 532: 300,
 533: 185,
 534: 12,
 535: 44,
 536: 7,
 537: 48,
 538: 1,
 539: 1,
 540: 5,
 541: 1,
 542: 65,
 543: 3,
 544: 33,
 545: 5,
 546: 34,
 547: 195,
 548: 38,
 549: 86,
 550: 81,
 551: 1,
 552: 2,
 553: 3,
 554: 53,
 555: 64,
 556: 17,
 557: 18,
 558: 4,
 559: 12,
 560: 78,
 561: 22,
 562: 3,
 563: 8,
 564: 10,
 565: 141,
 566: 24,
 567: 3,
 568: 37,
 569: 21,
 570: 16,
 571: 119,
 572: 121,
 573: 79,
 574: 20,
 575: 9,
 576: 50,
 577: 1,
 578: 4,
 579: 185,
 580: 74,
 581: 3,
 582: 49,
 583: 3,
 584: 30,
 585: 52,
 586: 6,
 587: 1,
 588: 6,
 589: 11,
 590: 80,
 591: 42,
 592: 3,
 593: 29,
 594: 2,
 595: 18,
 596: 6,
 597: 12,
 598: 23,
 599: 2,
 600: 10,
 601: 1,
 602: 9,
 603: 18,
 604: 2,
 605: 5,
 606: 36,
 607: 7,
 608: 35,
 609: 10,
 610: 299,
 611: 3,
 612: 6,
 613: 3,
 614: 2,
 615: 2,
 616: 9,
 617: 115,
 618: 1,
 619: 2,
 620: 179,
 621: 96,
 622: 1,
 623: 1,
 624: 3,
 625: 38,
 626: 10,
 627: 10,
 628: 2,
 629: 2,
 630: 3,
 631: 4,
 632: 42,
 633: 48,
 634: 6,
 635: 140,
 636: 4,
 637: 3,
 638: 8,
 639: 1,
 640: 92,
 641: 1,
 642: 12,
 643: 1,
 644: 1,
 645: 1,
 646: 1,
 647: 1,
 648: 38,
 649: 46,
 650: 66,
 651: 1,
 652: 10,
 653: 17,
 654: 6,
 655: 1,
 656: 38,
 657: 1,
 658: 12,
 659: 6,
 660: 130,
 661: 1,
 662: 2,
 663: 31,
 664: 48,
 665: 3,
 666: 8,
 667: 4,
 668: 5,
 669: 13,
 670: 1,
 671: 5,
 672: 1,
 673: 11,
 674: 18,
 675: 86,
 676: 85,
 677: 6,
 678: 3,
 679: 19,
 680: 1,
 681: 19,
 682: 30,
 683: 17,
 684: 3,
 685: 7,
 686: 1,
 687: 13,
 688: 6,
 689: 11,
 690: 2,
 691: 16,
 692: 1,
 693: 1,
 694: 15,
 695: 1,
 696: 2,
 697: 3,
 698: 55,
 699: 5,
 700: 20,
 701: 60,
 702: 3,
 703: 10,
 704: 12,
 705: 1,
 706: 1,
 707: 1,
 708: 78,
 709: 8,
 710: 27,
 711: 11,
 712: 11,
 713: 14,
 714: 7,
 715: 9,
 716: 5,
 717: 1,
 718: 16,
 719: 19,
 720: 39,
 721: 1,
 722: 44,
 723: 1,
 724: 2,
 725: 2,
 726: 13,
 727: 2,
 728: 12,
 729: 1,
 730: 57,
 731: 6,
 732: 48,
 733: 18,
 734: 1,
 735: 1,
 736: 1,
 737: 1,
 738: 5,
 739: 17,
 740: 14,
 741: 1,
 742: 1,
 743: 61,
 744: 19,
 745: 7,
 746: 60,
 747: 1,
 748: 58,
 749: 33,
 750: 3,
 751: 1,
 752: 4,
 753: 19,
 754: 18,
 755: 42,
 756: 12,
 757: 19,
 758: 13,
 759: 17,
 760: 18,
 761: 20,
 762: 10,
 763: 25,
 764: 3,
 765: 12,
 766: 1,
 767: 14,
 768: 202,
 769: 6,
 770: 16,
 771: 1,
 772: 5,
 773: 37,
 774: 4,
 775: 1,
 776: 6,
 777: 1,
 778: 1,
 779: 1,
 780: 9,
 781: 1,
 782: 2,
 783: 12,
 784: 1,
 785: 10,
 786: 17,
 787: 4,
 788: 1,
 789: 25,
 790: 4,
 791: 1,
 792: 17,
 793: 2,
 794: 3,
 795: 62,
 796: 59,
 797: 1,
 798: 10,
 799: 7,
 800: 5,
 801: 1,
 802: 19,
 803: 34,
 804: 3,
 805: 8,
 806: 2,
 807: 61,
 808: 186,
 809: 227,
 810: 14,
 811: 147,
 812: 12,
 813: 4,
 814: 2,
 815: 3,
 816: 17,
 817: 24,
 818: 3,
 819: 2,
 820: 1,
 821: 113,
 822: 1,
 823: 4,
 824: 3,
 825: 11,
 826: 6,
 827: 5,
 828: 34,
 829: 22,
 830: 28,
 831: 2,
 832: 12,
 833: 1,
 834: 1,
 835: 1,
 836: 1,
 837: 3,
 838: 6,
 839: 9,
 840: 16,
 841: 12,
 842: 1,
 843: 24,
 844: 26,
 845: 5,
 846: 15,
 847: 1,
 848: 13,
 849: 1,
 850: 1,
 851: 23,
 852: 1,
 853: 3,
 854: 1,
 855: 2,
 856: 15,
 857: 1,
 858: 1,
 859: 4,
 860: 17,
 861: 2,
 862: 5,
 863: 1,
 864: 34,
 865: 1,
 866: 1,
 867: 2,
 868: 160,
 869: 3,
 870: 27,
 871: 6,
 872: 5,
 873: 14,
 874: 18,
 875: 1,
 876: 1,
 877: 1,
 878: 1,
 879: 1,
 880: 1,
 881: 1,
 882: 6,
 883: 11,
 884: 1,
 885: 1,
 886: 1,
 887: 45,
 888: 44,
 889: 51,
 890: 3,
 891: 11,
 892: 21,
 893: 1,
 894: 1,
 895: 1,
 896: 23,
 897: 1,
 898: 3,
 899: 23,
 900: 1,
 901: 10,
 902: 1,
 903: 7,
 904: 1,
 905: 1,
 906: 16,
 907: 17,
 908: 1,
 909: 1,
 910: 59,
 911: 6,
 912: 18,
 913: 11,
 914: 1,
 915: 1,
 916: 1,
 917: 1,
 918: 15,
 919: 2,
 920: 41,
 921: 17,
 922: 1,
 923: 5,
 924: 7,
 925: 1,
 926: 9,
 927: 31,
 928: 3,
 929: 4,
 930: 3,
 931: 9,
 932: 1,
 933: 1,
 934: 10,
 935: 1,
 936: 19,
 937: 1,
 938: 16,
 939: 5,
 940: 15,
 941: 5,
 942: 3,
 943: 14,
 944: 1,
 945: 1,
 946: 43,
 947: 38,
 948: 12,
 949: 2,
 950: 9,
 951: 1,
 952: 19,
 953: 1,
 954: 6,
 955: 10,
 956: 1,
 957: 19,
 958: 8,
 959: 1,
 960: 2,
 961: 2,
 962: 2,
 963: 1,
 964: 1,
 965: 27,
 966: 1,
 967: 1,
 968: 1,
 969: 7,
 970: 10,
 971: 1,
 972: 18,
 973: 16,
 974: 1,
 975: 3,
 976: 1,
 977: 1,
 978: 34,
 979: 32,
 980: 3,
 981: 1,
 982: 3,
 983: 1,
 984: 1,
 985: 1,
 986: 27,
 987: 44,
 988: 20,
 989: 6,
 990: 1,
 991: 20,
 992: 1,
 993: 44,
 994: 7,
 995: 21,
 996: 2,
 997: 21,
 998: 1,
 999: 1,
 ...}

In [97]:
idf.shape

(5447,)

In [ ]:
def gen_tf_idf_for_sample():
    pass